"*":
  "atom-material-ui":
    colors:
      paintCursor: true
    tabs:
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-rubocop"
      "activate-power-mode"
      "file-icons"
      "atom-shortcuts"
      "synced-sidebar"
      "vim-mode"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontSize: 20
    invisibles:
      eol: " "
      space: " "
    preferredLineLength: 90
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "app-academy"
  fonts:
    fontFamily: "Inconsolata"
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter:
    errorPanelHeight: 26
    ignoreVCSIgnoredFiles: false
    lintOnFly: false
    showErrorTabLine: true
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    globalNodePath: "/Users/winstonzhao/.nvm/versions/node/v6.2.1"
    useGlobalEslint: true
  "linter-rubocop":
    executablePath: "/Users/winstonzhao/.rbenv/shims/rubocop"
  "markdown-preview":
    liveUpdate: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
