"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      predefinedColor: "Indigo"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
  core:
    audioBeep: false
    disabledPackages: [
      "linter-rubocop"
      "linter-scss-lint"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontSize: 20
    invisibles:
      eol: " "
      space: " "
    preferredLineLength: 90
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "winston-zhao"
  fonts:
    fontFamily: "Inconsolata"
  linter:
    errorPanelHeight: 180
    ignoreVCSIgnoredFiles: false
    lintOnFly: false
    showErrorPanel: false
    showErrorTabLine: true
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-eslint":
    globalNodePath: "/Users/winstonzhao/.nvm/versions/node/v6.2.1"
    useGlobalEslint: true
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-rubocop":
    executablePath: "/Users/winstonzhao/.rbenv/shims/rubocop"
  "markdown-preview":
    liveUpdate: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
